<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- 1. 导入vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <!-- 2. 定义一个标签 需要给一个标签加id -->
    <div id="app">
        <span>{{ message }}</span>
        <hr>
        <a href="#" v-if="isLogin">欢迎你归来</a>
        <hr>
        <a href="#" v-if="level === 1">青铜</a>
        <a href="#" v-else-if="level === 2">白银</a>
        <a href="#" v-else>王者</a>

        <hr>
        <span v-if="seen">v-if</span>
        <br>
        <span v-show="seen">v-show</span>
    </div>
</body>
<!-- 3. 创建vue实例 -->
<script type="text/javascript">
    var vm = new Vue({
        el:"#app",
        data:{
            message:"hello",
            isLogin:false,
            level:2,
            seen:true,
        }
    })
</script>
</html>